.portfolio li {
    display: inline-block;
    border: 8px solid black;
    background-color: #FAFFFC;
    width: 45%;
    box-sizing: border-box;
    padding: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
}

.portfolio img {
    width: 100%;
}
img{
  box-shadow: 0 0 /*Nao há deslocamento nem para direita, nem para baixo*/ 8px/*desfoque do sombra*/ #000 /*cor da sombra*/;
  
}
